<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_NvsContractService">
                    <security mode="None">
                        <transport sslProtocols="Tls, Tls11, Tls12" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8888/Nvs_Wcf" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_NvsContractService" contract="NvsService.NvsContractService"
                name="NetTcpBinding_NvsContractService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>