<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Nvs_Wcf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <log4net debug="false">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\\WS.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="-1" />
      <maximumFileSize value="100MB" />
      <DatePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %type{0}.%method:{%line} - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <appender name="RollingFileAppenderbyDate" type="log4net.Appender.RollingFileAppender">
      <file value="log\\WS_Data.data" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <DatePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <locationInfo value="true" />
        <conversionPattern value="%date [%thread] %-5level %type{0}.%method:{%line} - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="INFO" />
      </filter>
    </appender>

    <root>
      <priority value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="RollingFileAppenderbyDate" />
    </root>
  </log4net>

  <system.serviceModel>
    <client />
    <bindings>
      <netTcpBinding>
        <binding name="myBindingForBigArrays" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:00:30"
          maxBufferPoolSize="250000000" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="1000" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="250000000" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>

    <services>
      <service name="Nvs_Wcf.NvsService" behaviorConfiguration="Nvs_Wcf.Nvs_WcfBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8888/Nvs_Wcf" />
          </baseAddresses>
        </host>
        <endpoint address=""  binding="netTcpBinding" bindingConfiguration="myBindingForBigArrays" contract="Nvs_Wcf.NvsContractService" >
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration="" contract="IMetadataExchange" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="Nvs_Wcf.Nvs_WcfBehavior">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

  <appSettings>
    <add key="ConnectionString" value="User Id=lucky;Password=lucky;Validate Connection=True;Data Source=//192.168.2.35:1521/oradb" />
  </appSettings>

  
</configuration>